@import 'reset';

html, body {
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 65px;
    font-weight: 700;
}

h4 {
    font-size: 34px;
    font-weight: 400;
}

h6 {
    font-size: 24px;
    font-weight: 500;
}

h1, h2 h3, h4, h5, h6 {
    text-transform: uppercase;
    margin-bottom: 10px;
}


/* REPETITIVE CLASSES */
ul.social-icons li {
    display: inline-block;

    &.facebook, &.twitter, &.tumblr, &.pinterest {        
        height: 25px;
        width: 30px;
        cursor: pointer;
    }
    &.facebook {
        background: url('../images/fb.png') no-repeat;
    }

    &.twitter {
        background: url('../images/twitter.png') no-repeat;
    }

    &.tumblr {
        background: url('../images/tumblr.png') no-repeat;
    }

    &.pinterest {
        background: url('../images/pinterest.png') no-repeat;
    }
}

button, .nav-search, .toTopbutton {
    cursor: pointer
}


/* HELPER CLASSES */
.green {
    color: map-get($colors, secondary);
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

@media only screen and (max-width: 767px) {
    .show-xs {
        display: block !important;
    }
    
    .hide-xs {
        display: none !important;
    }
}

.container {
    padding: 0 0.5rem !important;
}





/* DATEPICKER OVERWRITE CSS*/
.gj-icon {
    display: none;
}

.gj-picker {
    width: 308px;
}

.gj-picker-md table tr td.selected.gj-cursor-pointer div {
    background: map-get($colors, primary) !important;
}


/* BX CSS OVERWRITE */
.bx-wrapper {
    border: 0 !important;
    height: 800px;
    box-shadow: none !important;
}