@import 'reset';

html, body {
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    font-size: 65px;
    font-weight: 700;
}

h4 {
    font-size: 34px;
    font-weight: 500;
}

h1, h2 h3, h4, h5 {
    text-transform: uppercase;
}


/* BUTTONS */
.mybutton {
    padding: 25px 100px;
    border-radius:5px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;

}
/* HELPER CLASSES */
.green {
    color: #1dd2af;
}

