@import 'reset';

html, body {
                font-family: 'Roboto', sans-serif;
                -webkit-tap-highlight-color: transparent;
}

h1 {
                font-size: 65px;
                font-weight: 700;
                text-transform: uppercase;
}

h4 {
                font-size: 34px;
                font-weight: 500;
}
