.banner {
    background: linear-gradient(rgba(255,0,0,0.5), rgba(255,0,0,0.5)), url('../images/banner.png') no-repeat;
    background-size: cover;
    height: 1200px;

    .text-bloc {
              
    }
}