.banner {
    background-size: cover;
    height: 800px;
    color: map-get($colors, white);
    position: relative;

    .banner-slider-bloc {
        
        .slide {
            position: relative;
            height: 800px;            
            background-size: cover;
            background-repeat: no-repeat;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background-image: linear-gradient(rgba(44,62,80,0.8),rgba(44,62,80,0.8));
            }

            .text-bloc {
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
        
                .banner_subtitle {
                    color: map-get($colors, white);
                    font-size: 32px;
                    font-weight: 300;
                }
        
                .cta-bloc {
                    margin: 60px 0;
                    .mybutton {
                        @include button(10px 15px, transparent);
                        &.active {
                            background: map-get($colors, secondary);
                            border: 2px solid map-get($colors, secondary);
                        }                
                    }
                }                    
                            
            }            
    
        }
        
        
    }

    
}



/* ------------------------------------ MEDIA QUERIES ----------------------------------------------------------- */
@media only screen and (max-width: 640px) {
    .banner .banner-slider-bloc {

        .slide .text-bloc .cta-bloc .mybutton {
            display: block;
            margin: 20px 0;
        }

        .banner .banner-slider-bloc 

        .text-bloc {
            h1 {
                font-size:  56px;
            }
            p.banner_subtitle {
                font-weight: 28px;
            }
        }
    }
}


