footer {
    background: map-get($colors, primary);
    padding: 80px 0;
    position: relative;

    .address-bloc {
        margin-bottom: 30px;
    }

    h6 {
        color: map-get($colors, secondary);
        text-transform: initial;
    }

    p {
        color: map-get($colors, white);
        line-height: 2;
        font-size: 14px;
    }

    a {
        text-decoration: none;
        color: map-get($colors, white);
    }

    .mybutton {
        @include button(10px 15px, map-get($colors, secondary), none, 14px, 3px);
    }

    .footer-tags .mybutton {
        @include button(10px 15px, transparent, 2px solid map-get($colors, white), 14px, 3px);
        text-transform: initial;
    }

    input[type="text"] {
        padding: 10px;
        width: 175px;       
        border: none;
        margin-top: 30px;
    }

    .bloc-news {
        display: flex;
        align-items: flex-start;
        margin: 20px 0;
        &-img {
            outline: 1px solid map-get($colors, white);
            outline-offset: 3px;
        }

        &-info {
            padding-left: 10px;
            &-title {
                font-size: 13px;
                color: map-get($colors, white);
                display: block;
                max-width: 175px;
                line-height: 1.6;
            }

            &-date {
                font-size: 12px;
                color: map-get($colors, secondary);
                display: block;
                line-height: 1.6;
            }
        }
    }

    .separator {
        width: 100%;
        height: 1px;
        background: map-get($colors, pale_text);
        margin: 50px 0;
        opacity: 0.3;
    }

    .copyright {
        color: map-get($colors, blue_text);
        margin: 20px 0;
    }

    .toTopbutton {
        width: 80px;
        height: 40px;
        border-bottom: solid 40px map-get($colors, secondary);
        border-left: solid 40px transparent;
        border-right: solid 40px transparent;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        box-sizing: border-box;

        &:after {
            content: '';
            background: url('../images/totoparrow.png');
            position: absolute;
            top: 12px;
            transform: translate(-50%, 50%);
            height: 13px;
            width: 14px;
        }
    }

    ul.footer-menu li {
        display: inline-block;
        padding: 0 7px;
        position: relative;

        a {
            text-decoration: none;
            color: map-get($colors, white);

            &:after {
                content: '::';
                position: absolute;
                padding-left: 5px;
            }

            &:after:last-of-type {
                content: '****';
                position: absolute;
                padding-left: 5px;
            }

            
        }

    }
}



/* ------------------------------------ MEDIA QUERIES ----------------------------------------------------------- */
@media only screen and (max-width: 1199px) {
    footer {
        .tags {
            margin-top: 30px;
        }
    }
}

@media only screen and (max-width: 1023px) {
   footer {
       .latest_news, .tags, .address-bloc {
            margin: 20px 0;
       }

   }
}

@media only screen and (max-width: 767px) {
    footer {
        ul.footer-menu li {
            padding-bottom: 10px;
        }
    }
}