.holidays_type {
    background: linear-gradient(rgba(44,62,80,0.9), rgba(44,62,80,0.9)), url('../images/holiday_type_bg.png') no-repeat;
    @include filter(grayscale(50%));
    background-size: cover;
    background-position: 0 31%;
    height: 350px;
    padding: 120px 0;

    .bloc-text {
        margin-bottom: 50px;
        h6 {
            color: map-get($colors, white);
            font-weight: 300;
        }
        p {
            color: map-get($colors, blue_text);
        }
    }

    &-category {
        @include border-radius(50%);
        border: 5px solid map-get($colors, white);
        background: transparent;
        height: 150px;
        width: 150px;
        position: relative;
        

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
        }

        &-name {
            text-align: center;
            color: map-get($colors, blue_text);
            font-size: 20px;
            margin-top: 35px;
            
        }
    }
    
}



/* ------------------------------------ MEDIA QUERIES ----------------------------------------------------------- */
@media only screen and (max-width: 1199px) {
    .holidays_type {
        
        height: auto;

        .bloc-text {
            margin: 20px;
        }
        
        &-category {
            width: 110px;
            height: 110px;
            margin: 20px auto;

            img {
                max-width: 70%;
            }

            &-name {
                margin: 35px 0;
            }
            
        }
    }
}
   