.navbar {
    padding: 20px 0;
    position: relative;
    
    .logo-block {

    }
    nav ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 40px;        

        li {
            
            padding: 0 15px; 
        
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: map-get($colors, text);

                &:active, &:hover {
                    color: map-get($colors, secondary);
                }


            }
        }
    }

    .toggle {
        width: 30px;
        height: 5px;
        background: map-get($colors, primary);
        position: absolute;
        right: 20px;
        top: 30px;
        display: none;

        &:before, &:after {
            content: '';
            width: 30px;
            height: 5px;
            background: map-get($colors, primary);
            position: absolute;
        }

        &:before {
            top: -10px;
        }

        &:after {
            top: 10px;
        }
    }
    .nav-search {
        margin-left: 40px;
        cursor: pointer;
    }
}


/* ------------------------------------ MEDIA QUERIES ----------------------------------------------------------- */
@media only screen and (max-width: 767px) {
    .navbar {
        nav ul {
            display: none;
        }

        .toggle {
            display: block;
        }
    }
   
}