.navbar {
    padding: 20px 0;
    .logo-block {

    }
    nav ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 40px;

        li {
            
            padding: 0 15px; 
        
            a {
                text-decoration: none;
                color: #4d4d4d;

                &:active, &:hover {
                    color: #1dd2af;
                }


            }
        }
    }
    .nav-search {
        margin-top: 10px;
    }
}