.special_offers {

    padding: 80px 0 120px;

    .bloc-text {
        h6 {
            color: map-get($colors, primary);            
        }

        p {
            color: map-get($colors, text);
        }
    }

    .card-offers {
        display: flex;
        margin-top: 40px;
        text-align: left;

        &:hover .card-offers-bloc:not(:hover) {
            transform: scale(0.8);
            opacity: 0.7;
        }
        
        &-bloc {
            border: 5px solid #eeeeee;
            @include border-radius(5px);
            width: 15%;
            background: map-get($colors, pale_bg);
            transition: transform 0.3s ease-out, background 0.2s ease-out;

            &:hover {
                transform: scale(1.1);
                border: 5px solid map-get($colors, secondary);
                background: map-get($colors, primary);

                & .card-offers-bloc-detail h5 {
                    color: map-get($colors, white);
                }
            }

            img {
                width: 100%;
            }

            &-detail {
                background: inherit;
                padding: 10px;
                

                h5 {
                    font-size: 20px;
                    text-transform: initial;
                    color: map-get($colors, text);
                    min-height: 30px;
                }

                p {
                    font-size: 16px;
                    color: map-get($colors, pale_text);
                }
            }
        }
    }
}



/* ------------------------------------ MEDIA QUERIES ----------------------------------------------------------- */
@media only screen and (max-width: 1199px) {
    .special_offers .card-offers {
        display: inline-block;
        text-align: center;

        &-bloc {
            width: 25%;
            margin: 15px;
            display: inline-block;

            &-detail h5, &-detail p {
                text-align: left;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .special_offers .card-offers-bloc {
        width: 90%;
        margin: 10px;

        &-detail h5 {
            font-size: 16px;
        }
    }
}