.topbar {
    background: #2c3e50;
    padding: 10px 0;

    ul.top-login {
        display: flex;
        align-items: center;
        margin-top: 5px;      
        
        li {
            padding: 0 10px;
            font-weight: 300;
            position: relative;

            a {
                text-decoration: none;
                color: white;               

                span {
                    padding: 0 5px;
                }
            }

            &:after {
                content: '';
                position: absolute;
                top: -20px;
                right: 0;
                display: block;
                height: 49px;
                width: 1px;
                background: map-get($colors, list-sep);
            }
        }
    }

    ul.social-icons li {        
        transform: scale(0.8);
        padding: 0 10px;

        &:after {
            content: '';
            position: absolute;
            top: -12px;
            right: 0;
            height: 55px;
            width: 1px;
            background: map-get($colors, list-sep);
        }

        &.facebook:before {
            content: '';
            position: absolute;
            top: -12px;
            left: -25px;
            height: 55px;
            width: 1px;
            background: map-get($colors, list-sep);
        }
    }
}


/* ------------------------------------ MEDIA QUERIES ----------------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .topbar {
        
        ul.social-icons {
                margin-top: 20px;
       
                li:after, li:before {
                    display: none;
                }
        }

        ul.top-login {
            
                li:after, li:before {
                        display: none;
                }
        }
    }
}