form {
    width: 100%;

    input, .gj-textbox-md {
        font-size: 14px;
        background-color: map-get($colors, white);
    }

    input[type="text"] {
        width: 100%;
        background: transparent;

        @include placeholder {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
        }
        
    }
}