/* SASS COLORS */

$colors: (
    primary:  #2c3e50,
    secondary: #1dd2af,
    text: #4d4d4d,
    pale_text: #b2b2b2,
    blue_text: #9dafc0,
    pale_bg: #eeeeee,
    list-sep: #17202a,
    white: #fff,
    black: #000
);

